.index_page {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url('../img/login.jpg');
    background-size: cover;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.header {
    width: auto;
    height: auto;
    background-color: rgba(11, 17, 31, 0.637);
    color: rgb(214, 219, 230);
}

.logo {
    margin: 15px;
    display: inline-block;
    width: 98%;
    margin-right: -100%;
    vertical-align: bottom;
}

.menu {
    display: inline-block;
    width: 98%;
    margin-right: -100%;
    vertical-align: center;
    text-align: right;
}

.menu li {
    display: inline;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
}


a {
    text-decoration: none;
    color: rgb(214, 219, 230);
}

a:hover {
    color: rgb(146, 167, 207);
}

.body {
    margin: 15px;
    width: auto;
    min-height: 100%;
    background-color: rgba(11, 17, 31, 0.637);
    color: rgb(214, 219, 230);
}

.col-2 {
    height: 100px;
    width: 50%;
    background-color: rgba(11, 17, 31, 0.637);
    margin: 15px;
    text-align: center;
    position: relative;
  }
  
.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.row a {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.alert {
    font-weight: bold;
    color: red;
}


.book {
    height: 100px;
    width: 50%;
    margin: 15px;
    text-align: center;
    position: relative;
}

.book_form_col-2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    display: none;
    width: 30%;
}


.book input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 300%;
    border: 1;
    margin: 5px 15px 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
}

.book select {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 300%;
    border: 1;
    margin: 5px 15px 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
}
.book label {
    font-family: "Roboto", sans-serif;
    color: rgb(214, 219, 230);
    width: 100%;
    padding: 15px;
    font-size: 16px;
    display: flex;
}

.book option {
    font-family: "Roboto", sans-serif;
    width: auto;
    border: 5;
    margin: 15px 0px 15px;
    padding: 30px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
}