<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interaktywna karta medyczna</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="862214234748-o3as09k1usflenuod97ir2hff8pfnig3.apps.googleusercontent.com">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/firebaseauth.js"></script>
    <script src="js/toggle.js"></script>
    <script src="js/index.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/googlesignin.js"></script>

</head>

<body>
    <div class="login_page" id="login_page">
        <div class="title_login"><h1>Login - Medical Card</h1></div>
      
        <div class="login" id="app">
          <div class="form">
            <form class="reg-form" method="POST" name="reg-form" id="reg-form">
              <input type="text" name="name" placeholder="Name" id="name" />
              <input type="password" name="password" placeholder="Password" id="password" />
              <input type="password" name="repassword" placeholder="Repeat your password" id="repassword"
                v-model="password" />
              <input type="email" name="email" placeholder="E-mail" id="email" v-model="email" />
              <select>
                <option name="state" id="male" value="Male">Male</option>
                <option name="state" id="female" value="Male">Female</option>
              </select>
              <input class="button" type="button" name="submit" onclick="register(document.getElementById('reg-form'))"
                value="Register" />
              <!-- <input class="button" type="button" name="submit" v-on:click="register()" value="Register" /> MIALO BYC DO VUE -->
      
              <p class="message">Already Registered? <a id="reg_toggle" href="#">Login</a></p>
            </form>
      
            <form class="login-form" name="login-form" id="login-form">
              <input type="email" name="login_email" placeholder="E-mail" id="login_email">
              <input type="password" name="login_password" placeholder="Password" id="login_password">
              <input class="button" id="login_button" type="button" onclick="login()" name="submit" value="Login" />
              <!-- <input class="button" type="button" v-on:click="signIn()" name="submit" value="Login" />   MIALO BYC DO VUE-->
              <p class="message">Not Registered? <a id="login_toggle" href="#">Register</a></p>
            </form>
            <div id="my-signin2" class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>
          </div>
        </div>
      </div>



<div class="index_page" id="index_page">
    <div class="header">
        <div class="logo">
            <h1>Interaktywna Karta Medyczna</h2>
        </div>
        <div class="menu">
            <div id="uzytkownik">Nazwa uzytkownika</div>
            <ul>
                <li><a href="profile.html">Mój Profil</a></li>
                <li><a href="#">Znajdż placówkę</a></li>
                <li><a class="log_off" id="log_off" onclick="signOut()" href="#">Wyloguj się</a></li>
                <li><a class="alert" href="https://coronavirus.jhu.edu/map.html">COVID-19</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-2"><span><a id="book_toggle" href="#">Zapisać się na badanie</a></span></div>
        <div class="col-2"><span><a href="#">Dodać wyniki badania</a></span></div>
    </div>


    <div class="book">
        <div class="book_form_col-2" id="book-form_col-2">
            <form class="book-form" method="POST" name="book-form" id="book-form">
                <label for="place">Wybierz placówkę</label>
                <select type="text" name="place" placeholder="Placówka" id="place">
                    <option>Placówka 1</option>
                    <option>Placówka 2</option>
                    <option>Placówka 3</option>
                    <option>Placówka 4</option>
                    <option>Placówka 5</option>
                </select>
                <label for="check_name">Nazwa badania</label>
                <input type="text" name="check_name" placeholder="Badanie" id="check_name">
                <label for="check_date">Termin</label>
                <input type="text" name="check_date" placeholder="Data" id="check_date">
                <label for="check_date">Liekarz</label>
                <input type="text" name="doctor" placeholder="Liekarz" id="doctor">
                <label for="check_date">Dodatkowa informacja</label>
                <input type="text" name="info" placeholder="Informacja" id="info">
            </form>
        </div>
        <div class="book_map" id="mapContainer"></div>
    </div>
</div>
</body>

</html>