<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id"
    content="862214234748-o3as09k1usflenuod97ir2hff8pfnig3.apps.googleusercontent.com">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link rel="stylesheet" type="text/css" href="css/login.css">

  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>

  <script src="firebaseauth.js"></script>

  <title>Login - Medical Card</title>
  <h1>Login - Medical Card</h1>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#reg_toggle").click(function () {
        $("#login-form, #reg-form").slideToggle()
      });
    });

    $(document).ready(function () {
      $("#login_toggle").click(function () {
        $("#login-form, #reg-form").slideToggle()
      });
    });

  </script>

</head>

<body>
  <div class="login" id="app">
    <div class="form">
      <form class="reg-form" method="POST" name="reg-form" id="reg-form">
        <input type="text" name="name" placeholder="Name" id="name" />
        <input type="password" name="password" placeholder="Password" id="password" />
        <input type="password" name="repassword" placeholder="Repeat your password" id="repassword"
          v-model="password" />
        <input type="email" name="email" placeholder="E-mail" id="email" v-model="email" />
        <select>
          <option name="state" id="male" value="Male">Male</option>
          <option name="state" id="female" value="Male">Female</option>
        </select>
        <input class="button" type="button" name="submit" onclick="register(document.getElementById('reg-form'))"
          value="Register" />
        <!-- <input class="button" type="button" name="submit" v-on:click="register()" value="Register" /> MIALO BYC DO VUE -->

        <p class="message">Already Registered? <a id="reg_toggle" href="#">Login</a></p>
      </form>

      <form class="login-form" name="login-form" id="login-form">
        <input type="email" name="login_email" placeholder="E-mail" id="login_email">
        <input type="password" name="login_password" placeholder="Password" id="login_password">
        <input class="button" type="button" onclick="login()" name="submit" value="Login" />
        <!-- <input class="button" type="button" v-on:click="signIn()" name="submit" value="Login" />   MIALO BYC DO VUE-->
        <p class="message">Not Registered? <a id="login_toggle" href="#">Register</a></p>
      </form>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
  </div>


</body>

</html>